click==6.6
moviepy==0.2.2.11
requests==2.11.1
requests-toolbelt==0.8.0
Flask-SQLAlchemy==2.2
Jinja2==2.8
Flask==0.12
beautifulsoup4==4.4.1
sqlalchemy-migrate
flup
enum34==1.1.6
psutil
git+https://github.com/ping/instagram_private_api.git