<!doctype html>
<html>
<title>Content Manager</title>
<body>


<form action="/upload" method="post" enctype="multipart/form-data">
    Image from file <input type="file" name="file">
    <br> <a>     or from url <input type="text" name="url"> </a>
    <br>
    <br>
    User: <input type="text" name="user">
    <br>
    Caption: <input type="text" name="caption">
    <input type="submit" value="Upload">

</form>


<table>
    <tr>
        <td>
            <b>user</b>
        </td>
        <td>
            <b>caption</b>
        </td>
        <td>
            <b>path</b>
        </td>
        <td>
            <b>date</b>
        </td>
    </tr>

    {% for id, user, caption, path, date in content %}
    <tr>
        <td>
            {{user}}
        </td>
        <td>
            {{caption}}
        </td>
        <td>
            {{path}}
        </td>
        <td>
            {{date}}
        </td>

        <td>
            <form action="/delete" method="post">

                <button type="submit" value={{id}}>X</button>
                <input type="hidden" value={{id}} name="id"/>
            </form>

        </td>

    </tr>
    {% endfor %}

</table>


<br>
</body>
</html>