<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Instabot</title>

</head>
<body>
<form method=post enctype=multipart/form-data>
    Username: <input type=text name=username>
    <br>
    Password: <input type=password name=password>
    <br>
    Similar Users (separated by ,): <input type=text name=users>
    <br>
    Follows/Unfollows per cycle: <input type=number name=rate value="75">
    <br>
    Wait time between cycles (mins): <input type=number name=tmin value="75"> <input type=number name=tmax value="150">
    <br>
    Wait time per post (hrs): <input type=number name=post_rate value="24">
    <br>
    <input type=submit value=Run>
</form>
</body>
</html>