<!doctype html>

<html>
<script>

function generateTags(id) {
    categories = document.getElementById(id.toString().concat("_category")).value;
    console.log(categories);
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "/generate_tags/".concat(categories), false );
    xmlHttp.send(null);
    tags = xmlHttp.responseText;
    console.log(tags);
    document.getElementById(id.toString().concat("_caption")).innerHTML = tags;
}

</script>
<title>Content Manager</title>
<body>


<form action="/upload" method="post" enctype="multipart/form-data">
    Image from file <input type="file" name="file">
    <br> <a> or from url <input disabled type="text" name="url" placeholder="not implemented yet"> </a>
    <br>
    <br>
    User:
    <select name="account">

        {% for account in accounts %}

        <option value={{account.id}}>{{account.username}}</option>

        {% endfor %}
    </select>

    <br>
    Caption: <input type="text" name="caption">
    <input type="submit" value="Upload">

</form>


<table>
    <tr>
        <td>
            <b>user</b>
        </td>
        <td>
            <b>caption</b>
        </td>
        <td>
            <b>img</b>
        </td>
        <td>
            <b>date</b>
        </td>
        <td>
            <b>verified</b>
        </td>
        <td>
            <b>type</b>
        </td>
        <td>
            <b>delete</b>
        </td>
    </tr>

    {% for id, user, caption, url, date, verified, type in content %}
    <tr>
        <td>
            {{user.username}}
        </td>
        <td>

            <textarea id="{{id}}_caption" readonly=true onclick="this.readOnly=false;" onblur="this.readOnly=true;">{{caption}}</textarea>
            </br>
            <input id="{{id}}_category" name="tag_category" type="text" placeholder="Category" style="width:30%">
            <button onclick="generateTags({{id}});">Add tags</button>

        </td>
        <td>
            <a href="{{url}}">
                <img alt="{{url}}" src="{{url}}" width="60"/>
            </a>
        </td>
        <td>
            {{date}}
        </td>
        <td>
            <form action="/verify" method="post">
                <button type="submit" value={{id}}>
                    {% if verified == 1 %}
                    yes
                    {% else %}
                    no
                    {% endif %}
                </button>
                <input type="hidden" value={{id}} name="id"/>
                <input type="hidden" value={{verified}} name="verified"/>
            </form>
        </td>
        <td>
            {{type}}
        </td>

        <td>
            <form action="/delete_content" method="post">

                <button type="submit" value={{id}}>X</button>
                <input type="hidden" value={{user.id}} name="user_id"/>
                <input type="hidden" value={{id}} name="content_id"/>
            </form>

        </td>

    </tr>
    {% endfor %}

</table>


<br>
</body>
</html>