<!doctype html>
<html>
<title>Content Manager</title>
<body>


<form action="/upload" method="post" enctype="multipart/form-data">
    Image from file <input type="file" name="file">
    <br> <a> or from url <input disabled type="text" name="url" placeholder="not implemented yet"> </a>
    <br>
    <br>
    User:
    <select name="account">

        {% for account in accounts %}

        <option value={{account.id}}>{{account.username}}</option>

        {% endfor %}
    </select>

    <br>
    Caption: <input type="text" name="caption">
    <input type="submit" value="Upload">

</form>


<table>
    <tr>
        <td>
            <b>user</b>
        </td>
        <td>
            <b>caption</b>
        </td>
        <td>
            <b>img</b>
        </td>
        <td>
            <b>date</b>
        </td>
        <td>
            <b>verified</b>
        </td>
        <td>
            <b>delete</b>
        </td>
    </tr>

    {% for id, user, caption, url, date, verified in content %}
    <tr>
        <td>
            {{user.username}}
        </td>
        <td>
            {{caption}}
        </td>
        <td>
            <a href="{{url}}">
                <img alt="{{url}}" src="{{url}}" width="60"/>
            </a>
        </td>
        <td>
            {{date}}
        </td>
        <td>
            <form action="/verify" method="post">
                <button type="submit" value={{id}}>
                    {% if verified == 1 %}
                    yes
                    {% else %}
                    no
                    {% endif %}
                </button>
                <input type="hidden" value={{id}} name="id"/>
                <input type="hidden" value={{verified}} name="verified"/>
            </form>
        </td>

        <td>
            <form action="/delete" method="post">

                <button type="submit" value={{id}}>X</button>
                <input type="hidden" value={{user.id}} name="user_id"/>
                <input type="hidden" value={{id}} name="content_id"/>
            </form>

        </td>

    </tr>
    {% endfor %}

</table>


<br>
</body>
</html>