<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Instabot Dashboard</title>
</head>
<body>
<table>
    <tr>
        <td>
            User
        </td>
        <td>
            Follow Bot
        </td>
        <td>
            Unfollow Bot
        </td>
        <td>
            Post Bot
        </td>
    </tr>

    {% for account, follow, unfollow, post in content %}

    <tr>
        <td>
            {{account.username}}
        </td>
        <td>
            <form method="post" action="/toggle">
                <input type="hidden" name="bot_id" value={{follow.id}}>
                <button type="submit">
                    {{follow.active}}
                </button>
            </form>
        </td>
        <td>
            <form method="post" action="/toggle">
                <input type="hidden" name="bot_id" value={{unfollow.id}}>
                <button type="submit">
                    {{unfollow.active}}
                </button>
            </form>
        </td>
        <td>
            <form method="post" action="/toggle">
                <input type="hidden" name="bot_id" value={{post.id}}>
                <button type="submit">
                    {{post.active}}
                </button>
            </form>

        </td>

    </tr>
    {% endfor %}

</table>
<br>
<br>
<form method=post action="/accounts" enctype="multipart/form-data">
    Username: <input type=text name=username>
    <br>
    Password: <input type=password name=password>
    <br>
    Similar Users (separated by ,): <input type=text name=users>
    <br>
    <button>Add User</button>
</form>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<a class="{{ category }}">{{ message }}</a>
<br>
{% endfor %}
{% endif %}
{% endwith %}

</body>
</html>