<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Instabot Dashboard</title>
</head>
<body>
<table>
    <tr>
        <td>
            User
        </td>
        <td>
            Similar Users
        </td>
        <td>
            Bot
        </td>
        <td>
            x
        </td>
    </tr>

    {% for account in accounts %}

    <tr>
        <td>
            {{account.username}}
        </td>
        <td>
            {{account.similar_users}}
        </td>
        <td>
            <form method="post" action="/toggle">
                <input type="hidden" name="account_id" value={{account.id}}>
                <button type="submit">
                    {{account.active}}
                </button>
            </form>
        </td>

        <td>
            <form method="POST" action="/delete_account">
                <input type="hidden" name="user_id" value={{account.id}}>
                <button type="submit">
                    x
                </button>
            </form>
        </td>

    </tr>
    {% endfor %}

</table>
<br>
<br>
<form method=post action="/accounts" enctype="multipart/form-data">
    Username: <input type=text name=username>
    <br>
    Password: <input type=password name=password>
    <br>
    Similar Users (separated by ,): <input type=text name=users>
    <br>
    <button>Add User</button>
</form>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<a class="{{ category }}">{{ message }}</a>
<br>
{% endfor %}
{% endif %}
{% endwith %}

</body>
</html>